.footer-bg {
    background: #e7e1e1;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.footer {
    text-align: center;

    p {
        margin: 0px;
    }

    span {
        color: #17B8FC;
    }
}