.nav-main-flex {
    padding: 10px;
    background:white;
    height: 80px;
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.list-icon svg {
    fill: black;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}

.list-icon {
    width: 77px;
}

.list-icon img {
    width: 100%;
}

.navbar-logo h2 {
    font-family: poppins;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    cursor: pointer;
}

.navbar-logo .logo-color {
    color: rgba(0, 0, 255, 0.74);
    font-family: poppins;
    font-weight: 600;
}

.search-input {
    background-color: rgba(218, 209, 209, 0.329);
    padding: 0px 10px;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-input input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-family: poppins;
    font-size: 17px;
    font-weight: 400;
}

.search-logo {
    padding: 7px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-logo svg {
    color: rgba(0, 0, 255, 0.74);
}

.privacy-logo {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(230, 166, 48, 0.733);
}

.privacy-logo svg {
    fill: rgb(226, 151, 11);
    font-size: 20px;
}

.message-logo {
    padding: 5px 8px;
    border-radius: 5px;
}

/* .message-logo svg {
    fill: green;
    font-size: 20px;
} */

.user-logo {
    padding: 5px 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user-logo img{
    width: 100%;
    border-radius: 50%;
}

.user-logo svg {
    font-size: 20px;
    fill: gray;
}

@media (max-width: 430px) {
    .list-icon {
        display: none;
    }
}